@import "./slider.css";
 
  .imageGallery .swiper-slide img {
    display: block;
    width: 200px;
    height: 375px;
    object-fit: cover;
    border-radius: 15px;
  }
  .imageGallery {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
 .swiper-slide {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  
  .imageGallery {
    height: 80%;
    width: 100%;
  }
  
  .imageGalleryThumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .imageGalleryThumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .imageGalleryThumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .imageGalleryThumbs img{
    width: 307px !important;
    height: 220px !important;
    border-radius: 15px;
  }

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    color: #fff;
    font-size: 30px;
  }