@import "./slider.css";

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #e1ac63;
}
